<h1>Página de Perfil</h1>

{{error}}
{{message}}

<p class="text-center">Bienvenido/a {{first_name}}</p>

<div class="text-center">
    <button class="btn btn-danger">
        <a href="/api/sessions/logout" class="text-light text-decoration-none ">Cerrar Sesión</a>
    </button>
</div>